<div id="footer">
  <div class="content">
    <% if (!development) { %>
    <div class="addthis_toolbox addthis_default_style ">
      <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
      <a class="addthis_button_tweet"></a>
      <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
    </div>
    <script>
    var addthis_share = {url: 'http://codingintro.com' + top.location.pathname};
    </script>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4fbcaf735d1c76e6"></script>
    <% } %>
    <div id="links">

    </div>
  </div>
</div>