<div id="paging">
  <% if (chapter > 1) { -%>
  <a href="<%= chapter_link(language, chapter-1) %>" id="prev">previous</a>
  <% } %>
  <% if (chapter < chapters.length) { -%>
  <a href="<%= chapter_link(language, chapter+1) %>" id="next">next</a>
  <% } -%>
</div>