<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>The Little Introduction To Programming</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="/css/home.css" rel="stylesheet" type="text/css">
    <%- partial('shared/ga') %>
  </head>
  <body>
    <%- partial('shared/ie6') %>
    <%- body %>
    <%- partial('shared/footer') %>
  </body>
</htlm>