@import 'mixins';

*{padding:0;margin:0;}
body{font-family:'Open Sans',sans-serif;color:#444;background:#f9f9f9;}
p{line-height:1.8em;}
a{color:#229;text-decoration:none;}

#footer{background:#222;margin-top:45px;padding:20px 0;font-size:85%;border-top:1px solid #000;overflow:auto;}
.addthis_toolbox{float:left;}
#links {float:right;}
#links a{color:#fff;text-decoration:none;padding:10px 20px;border-radius:4px;border:1px solid transparent;}
#links a:hover{background:#444;border:1px solid #000;}
#ie6{border:1px solid #fdd;background:#fee;border-radius:5px;padding:10px;}
