@import 'tricolore';
@import 'base';
@import 'variables';

h1{font-size:1.5em;position:absolute;top:2px;text-shadow:1px 1px 2px #000;}
h1 a{color:#fff;}
h2{font-size:1.6em;margin-top:15px;}
h3{font-size:1.2em;padding-top:30px;margin:30px 0 15px;border-top:1px solid #aaa;}
h2 a, h3 a, h4 a{color:#222;}
code{background:#fff;padding:2px;border:1px solid #aaa;border-radius:4px;}
ul{margin-bottom:20px;}
li{margin-left:20px;}
ol{margin-left:20px;}
ol li {padding:7px;}
pre{padding:20px;border:1px solid #eee;border-radius:5px;margin-bottom:20px;}

#header{height:40px;@include gradient(#4a4a4a, #333333);position:fixed;left:0;width:100%;z-index:10;}
#toc{position:absolute;right:0;height:40px;line-height:40px;border:solid #000;border-width:0 1px;color:#fff;@include gradient(#555555, #444444);@include noselect();cursor:pointer;width:250px;text-align:center;font-size:1em;margin:0;text-shadow:1px 1px 3px #000;}
#toc:after{content:"\25BC";margin-left:20px;font-size:0.8em;text-shadow:1px 1px 3px #000;}
#toc:hover{background:#222;}
#menu{z-index:10;position:fixed;right:5%;top:40px;display:none;margin:0;padding:0;list-style:none;background:#222;border:1px solid #000;width:250px;border-bottom-left-radius:3px;border-bottom-right-radius:3px;}
#menu li{border-bottom:1px solid #000;margin:0;}
#menu li:last-child{border-radius:5px;}
#menu a{color:#fff;text-decoration:none;display:block;padding:10px;}
#menu a:hover{background:#444;}
#content{padding-top:60px;}
.content, #content{width:90%;margin:0 auto;position:relative;}
#paging{margin:10px 0 100px;padding-top:10px;border-top:2px solid #aaa;position:relative;}
#paging a{padding:4px 10px;font-size:80%;background:#444;border-radius:4px;color:#fff;}
#paging a:hover{background:#777;}
#next{position:absolute;right:0;}

.code, p{margin-bottom:15px;}

#book{margin-right:250px;padding-right:50px;border-right:1px solid #aaa;}
#runner{position:fixed;right:25px;top:60px;width:265px;}
#runner + #paging{margin-right:250px;}
.codingArea{margin-top:10px;font-family:$code-font;font-size:0.95em;}
.codingArea > div{width:100%;padding:5px 10px;}
.codingArea .goal{border:1px solid transparent;background:#ddd;border-top-left-radius:4px;border-top-right-radius:4px;}
.codingArea .buttons{overflow:auto;position:relative;padding-left:0;padding-right:20px;}
.codingArea .buttons a{padding:4px 10px;border:1px solid #eee;border-radius:4px;background:#444;color:#fff;}
.codingArea .buttons a:hover{background:#111;}
.codingArea .buttons .run{float:left;}
.codingArea .buttons .reset{position:absolute;right:100px;}
.codingArea .buttons .answer{position:absolute;right:0;}

textarea{padding:1%;height:125px;border:1px solid #afa;width:100%;color:#444;font-family:$code-font;font-size:0.95em;background:#efe;outline: none;}
textarea.answer{background:#eee;border:1px solid #ccc;display:none;}
.codingArea.taller textarea{height:175px;}
.codingArea.error textarea.input{border-color:#faa;background:#fee;}
.codingArea.error .goal{background:#fcc;}

#items.error{border:1px solid #faa;background:#fee;}
#items > div{padding:3px;border-bottom:1px solid #ccc;}
#items > div:last-child{border-bottom:none;}
#funcList{margin-top:30px;display:none;border-top:1px solid #aaa;padding-top:30px;padding:10px 0;font-family:$code-font;font-size:0.9em;}
#funcList .function{margin-top:10px;border-bottom:1px solid #eee;padding-bottom:10px;}
#funcList .desc{padding-bottom:5px;}


.sidelegend{position:fixed;overflow:hidden;font-size:small;padding-left:20px;}
.sidelegend a{border-top-left-radius:10px;border-bottom-left-radius:10px;padding:1px 10px;opacity:0.2;background:#697983;color:white;display:block;}
.sidelegend a:hover{text-decoration: none;background:#495963;}
.anchor {height: 0;display: block;}
a:target + h3 {color: #886;}