<div class="content">
  <h1>The Little Introduction To Programming</h1>
  <div id="tagline">A free online book that gently introduces the art of programming</div>
</div>

<div id="info" class="alt">
  <div class="content">
    <div id="desc">
      <p>Programming isn't something that you can learn in an hour. But you can begin to appreciate it.</p>
      <p>This book will teach you the fundamentals of programming and act as a foundation for whatever your programming goals may be.</p>
      <p>Rather than ignore complexities, we will face them head-on, in small steps, and unshroud the mysteries of computer language.</p>
    </div>
    <div id="quick">
      <h2>Ideal for...</h2>
      <ul>
        <li>Beginners and Students</li>
        <li>Parents with children who program</li>
        <li>Occasional coders (spreadsheets / reports)</li>
        <li>Insomniacs</li>
      </ul>
      <a href="<%- chapter_link('en', 1)%>" id="go">Start reading</a>
    </div>
  </div>
</div>
<div class="content">
  <h3>More To Come</h3>
  <p>We hope to add at least a few more chapters in the near future. You can be notified via email by subscribing below. We promise to treat your email with respect. We won't disclose nor sell it or do anything other than email you about meaningful updates to the book.<p>
  <form method="post" action="subscribe">
    <label for="email">email</label>
    <input type="text" name="email" id="email" />
    <input type="submit" value="subscribe" id="subscribe" />
    <div id="suggestion">did you mean <a id="suggestLink" href="#"></a></div>
  </form>
</div>

<div class="alt">
  <div class="content">
    <h3>If You Need Help</h3>
    <p>If you run into any problems or something isn't clear, you can leave a comment at the bottom of the chapter.<p>
    <p>For more generic questions about programming, consider using <a href="http://www.stackoverflow.com">StackOverflow</a>, a popular and free website where programmers ask and answer questions. Spending time on StackOverflow is actually a great way to learn more about programming.</p>
  </div>
</div>

<div class="content">
  <h3>About</h3>
  <p>The website and its contents are available <a href="https://github.com/karlseguin/the-little-introduction-to-programming">on github</a>.</p>
  <p>The contents are available under the Attribution-NonCommercial 3.0 Unported license. You should not have paid for this book. You are free to copy, distribute, modify or display any or all of the material. However you may not use it, in any way, for commercial purposes.</p>
  <p>You can see the full text of the license at: <a href="http://creativecommons.org/licenses/by-nc/3.0/legalcode">http://creativecommons.org/licenses/by-nc/3.0/legalcode</a></p>
</div>
<script>
$('#email').on('blur', function() {
  $(this).mailcheck({
    suggested: function(element, data) {
      var text = 'did you mean ' +
      $('#suggestLink').html(data.full);
      $('#suggestion').show();
    },
    empty: function(element) { $('#suggestion').hide(); }
  });
});
$('#suggestLink').on('click', function(e) {
  $('#email').val($(this).text());
  e.preventDefault();
});
</script>