<div class="content">
  <h1>The Little Introduction To Programming</h1>
  <div id="tagline">A free online book that gently introduces the art of programming</div>
</div>

<div id="info">
  <div class="content">
    <div id="desc">
      <p>Programming isn't something that you can learn in an hour. But you can begin to appreciate it.</p>
      <p>This book will teach you the fundamentals of programming and act as a foundation for whatever your programming-goals may be.</p>
      <p>Rather than ignore complexities, we will face them head-on, in small steps, and unshroud the mysteries of computer language.</p>
    </div>
    <div id="quick">
      <h2>Ideal For...</h2>
      <ul>
        <li>Beginners</li>
        <li>Parents with children who program</li>
        <li>Occasional coders (excel / reports)</li>
        <li>Insomniacs</li>
      </ul>
      <a href="<%- chapter_link(1)%>" id="go">Start reading</a>
    </div>
  </div>
</div>
<div class="content"></div>