<div class="content high">
  <% if (ok === true) { %>
  <h1>Thanks for subscribing!</h1>
  <p>We'll let you know when we update the book!</p>
  <% } else { %>
  <h1>There was a problem subscribing</h1>
  <p>Please try again later</p>
  <% } %>
  <p><a href="/">back home</a></p>
</div>
