<div class="content high">
  <% if (ok === true) { %>
  <h1>Sorry to see you go</h1>
  <% } else { %>
  <h1>There was a problem unsubscribing</h1>
  <p>Please try again later</p>
  <% } %>
  <p><a href="/" id="backhome">back home</a></p>
</div>
