* {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Open Sans',sans-serif;
  color: #444;
  background: #f9f9f9; }

p {
  line-height: 1.8em; }

a {
  color: #229;
  text-decoration: none; }

#footer {
  background: #222;
  margin-top: 45px;
  padding: 20px 0;
  font-size: 85%;
  border-top: 1px solid #000;
  overflow: auto; }

.addthis_toolbox {
  float: left; }

#links {
  float: right; }

#links a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid transparent; }

#links a:hover {
  background: #444;
  border: 1px solid #000; }

#ie6 {
  border: 1px solid #faa;
  background: #fcc;
  border-radius: 5px;
  padding: 3px;
  text-align: center;
  width: 700px;
  margin: 0 auto; }

html {
  background: #222; }

h1 {
  padding-top: 30px;
  text-align: center;
  color: #444; }

ul {
  list-style: none;
  margin-bottom: 50px; }

li {
  padding: 5px 10px;
  background: url(/images/arrow.png) no-repeat 0 12px; }

#tagline {
  margin: 15px 0 50px 0;
  text-align: right;
  font-style: italic;
  font-size: 80%; }

.alt {
  background: #fff;
  padding: 30px 0;
  border-top: 2px solid #ccc;
  border-bottom: 1px solid #aaa;
  color: #666;
  margin-bottom: 20px; }

#info {
  overflow: auto; }

#info p {
  margin-bottom: 15px; }

#desc {
  width: 425px;
  float: left;
  line-height: 28px;
  padding-right: 50px;
  border-right: 1px solid #ccc; }

#quick {
  width: 425px;
  margin-left: 530px; }

#quick h2 {
  font-size: 1em;
  font-weight: normal; }

.high a, #subscribe, #go {
  padding: 10px 20px;
  border: 1px solid #555;
  background: #333333;
  background: -webkit-gradient(linear, left top, left bottom, from(#4a4a4a), to(#333333));
  background: -moz-linear-gradient(-90deg, #4a4a4a, #333333);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#4a4a4a', endColorstr='#333333');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a4a4a', endColorstr='#333333')";
  border-radius: 5px;
  color: #fff;
  line-height: 25px; }

.high a:hover, #subscribe:hover, #go:hover {
  background: #888; }

.content {
  width: 960px;
  margin: 0 auto; }

#subscribe {
  overflow: auto; }

form {
  margin: 10px 0 0 25px; }

label {
  display: block; }

#email {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 240px; }

#subscribe {
  padding: 2px 10px; }

#suggestion {
  display: none;
  font-size: 0.80em;
  margin: 5px 0 0 20px; }

#suggestLink {
  text-decoration: underline; }

#suggestLink:hover {
  color: #aa9; }

.high {
  height: 500px; }

.high h1 {
  margin-bottom: 75px; }

.high a {
  position: relative;
  top: 25px; }
